# App Tier Environment Variables
PORT=5000
NODE_ENV=development

# JWT Secret for Session & Tokens
JWT_SECRET=super_secure_aws_term_project_secret_key_2026

# Database Tier (AWS RDS PostgreSQL or Local Postgres)
DB_HOST=10.0.20.50
DB_PORT=5432
DB_NAME=apex_predict_db
DB_USER=apex_admin
DB_PASSWORD=SecurePassword2026!
DB_SSL=true

# External Sports Feed Simulator (Outgoing via NAT Gateway)
EXTERNAL_SPORTS_API_URL=https://api.sportmonks.com/v3/football/fixtures
